[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "colorr"]
	path = colorr
	url = https://github.com/lobsterbush/colorr
[submodule "nomine"]
	path = nomine
	url = https://github.com/lobsterbush/nomine
[submodule "plotrr"]
	path = plotrr
	url = https://github.com/lobsterbush/plotrr
